@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

body {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

audio::-webkit-media-controls-panel {
	background-color: #ffffff;
}

audio::-webkit-media-controls-play-button {
	background-color: #bdbdbd;
	border-radius: 100%;
}

audio::-webkit-media-controls-play-button:hover {
	background-color: #8a8a8a;
}

audio::-webkit-media-controls-play-button:active {
	background-color: #646464;
}

.audio-player {
	width: 400px;
	border-radius: 10px;
	background-color: #ffffff;
	height: 120px;
	padding: 30px;
	margin: 0 auto;
}

.cb-shadow{
	box-shadow: black 7px 7px 0px 2px;
}

.cb-shadow-grey{
	box-shadow: rgb(163, 163, 163) 6px 6px 0px 1px;
}

.butt-shadow{
	box-shadow: black 5px 5px 0px 1px;
}

.butt-shadow:active{
	box-shadow: black 0px 0px 0px 0px;
}

.progress-bar1{
	background-color: #1F1717;
	position: absolute;
	top: 0;
	left: 0;
	height: 12px;
	animation: progress1 4s ease-in-out normal;
}

.progress-bar2{
	background-color: #1F1717;
	position: absolute;
	top: 0;
	left: 0;
	height: 12px;
	animation: progress2 3s ease-in normal;
}

.progress-bar3{
	background-color: #1F1717;
	position: absolute;
	top: 0;
	left: 0;
	height: 12px;
	animation: progress3 4.5s ease-in normal;
}

@keyframes progress1 {
	from {
		width: 0%;
	}
	to {
		width: 80%;
	}
}

@keyframes progress2 {
	from {
		width: 0%;
	}
	to {
		width: 70%;
	}
}

@keyframes progress3 {
	from {
		width: 0%;
	}
	to {
		width: 60%;
	}
}

@media screen and (max-width: 400px) {
	.audio-player {
		width: 320px;
		border-radius: 10px;
		background-color: #ffffff;
		height: 90px;
	}
}
  